<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <title>
        遊戲論壇-建立文章
    </title>
    <link rel="stylesheet" href="/css/createPost.css">
    <link rel="icon" href="/img/favicon.png" type="image/x-icon">
</head>

<body>
    <header class="header">
        <a class="lo" href="/forum">
            <div class="logo">🎮</div>
            <div class="ll"> 遊戲論壇</div>
        </a>
    </header>
    <form class="post-content" method="POST" action="/createPost">
        <div class="post-container">
            <div id="resultDiv">
                <p id="retext">發文成功！</p>
                
                <button id="viewBtn">前往查看</button>
            </div>
            <div class="post-header">

                <img src="<%= user.ProfilePicture %>" alt="作者頭像" class="profile-picture">
                <select id="board" name="board" required>
                    <option value="">選擇看板</option>
                    <% if (boards && boards.length> 0) { %>
                        <% boards.forEach(board=> { %>
                            <option value="<%= board.BoardID %>">
                                <%= board.Name %>
                            </option>
                            <% }) %>
                                <% } %>

                </select>
                <input type="text" id="post-title" name="title" placeholder="輸入文章標題" required>

                <p class="post-meta">
                    <select id="tag" name="tag" required>
                        <option value="">選擇文章標籤</option>
                        <% if (tags && tags.length> 0) { %>
                            <% tags.forEach(tag=> { %>
                                <option value="<%= tag.TagID %>">
                                    <%= tag.Name %>
                                </option>
                                <% }) %>
                                    <% } %>

                    </select>
                </p>

            </div>

            <div class="post-content">
                <textarea id="inner-content" name="content" placeholder="請輸入文章內容..." required></textarea>
                <a class="back-button btn" href="/forum">⭠ 保留草稿並返回</a>

            </div>
            <button id="submit" class="btn" type="submit">發佈文章</button>


        </div>
    </form>
    <script src="/script/createPost.js"></script>
</body>

</html>