<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <title>
        щБКцИ▓шлЦхгЗ-ч╖иш╝пцЦЗчла
    </title>
    <link rel="stylesheet" href="/css/createPost.css">
    <link rel="icon" href="/img/favicon.png" type="image/x-icon">
</head>

<body>
    <header class="header">
        <a class="lo" href="/forum">
            <div class="logo">ЁЯОо</div>
            <div class="ll"> щБКцИ▓шлЦхгЗ</div>
        </a>
    </header>
    <form class="post-content" method="POST" action="/updatePost/<%=post.PostID%>">
        <input type="hidden" name="postid" value="<%= post.PostID %>">
        <div class="post-container">
            <div id="resultDiv">
                <p id="retext">ч╖иш╝пцИРхКЯя╝Б</p>

                <button id="viewBtn">хЙНх╛АцЯечЬЛ</button>
            </div>
            <div class="post-header">

                <img src="<%= user.ProfilePicture %>" alt="ф╜ЬшАЕщанхГП" class="profile-picture">
                <select id="board" name="board" required>
                    <option value="<%= post.BoardID%>">
                        <%= post.BoardName %>
                    </option>
                    <% if (boards && boards.length> 0) { %>
                        <% boards.forEach(board=> { %>
                            <option value="<%= board.BoardID %>">
                                <%= board.Name %>
                            </option>
                            <% }) %>
                                <% } %>

                </select>
                <input type="text" id="post-title" name="title" value="<%=post.Title%>" placeholder="ш╝╕хЕецЦЗчлациЩщбМ" required>

                <p class="post-meta">
                    <select id="tag" name="tag" required>

                        <option value="<%= post.TagID%>">
                            <%= post.tag %>
                        </option>
                        <% if (tags && tags.length> 0) { %>
                            <% tags.forEach(tag=> { %>
                                <option value="<%= tag.TagID %>">
                                    <%= tag.Name %>
                                </option>
                                <% }) %>
                                    <% } %>

                    </select>
                </p>

            </div>

            <div class="post-content">
                <textarea id="inner-content" name="content" placeholder="шлЛш╝╕хЕецЦЗчлахЕзхо╣..."
                    required><%= post.Content%></textarea>
                <a class="back-button btn" href="/forum">тна щААхЗ║</a>

            </div>
            <button id="submit" class="btn" type="submit">хоМцИРч╖иш╝п</button>


        </div>
    </form>
    <script src="/script/edit.js"></script>
</body>

</html>