<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8" />
    <meta http‑equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/forum.css">
    <link rel="icon" href="/img/favicon.png" type="image/x-icon">
    <title>遊戲論壇 ‑ 首頁</title>

</head>

<body>
    <aside class="sidebar">
        <a class="lo" href="/forum">
            <div class="logo">🎮</div>
            <div class="ll"> 遊戲論壇</div>
        </a>
        <ul class="nav-list">
            <li id="li0" onclick="window.location.href = '/forum'"><span class="loo">首頁</span></li>
            <% if (boards && boards.length> 0) { %>
                <% boards.forEach(board=> { %>
                    <li id="li<%= board.BoardID  %>"
                        onclick="window.location.href = '/enter_forum?gameid=<%= board.BoardID  %>'">
                        <span class="loo">
                            <%= board.Name %>
                        </span>
                    </li>
                    <% }) %>
                        <% } %>
        </ul>
    </aside>
    <section class="main">
        <div class="topbar">


            <div class="search-box">
                <form action="/search_forum" method="GET">
                    <input type="text" id="searchInput" name="keyword" value="<%= query.keyword || '' %>"
                        placeholder="搜尋貼文和文章...">
                    <button class="searchbt" type="submit"><img class="searchicon"
                            src="https://img.icons8.com/ios-filled/50/search--v1.png" alt="search--v1" /></button>

                    <select class="adva" name="board">
                        <option value="">所有板塊</option>
                        <% boards.forEach(board=> { %>
                            <option value="<%= board.BoardID %>" <%=board.BoardID==query.board ? 'selected' : '' %>>
                                <%= board.Name %>
                            </option>
                            <% }); %>
                    </select>
                    <select class="adva" name="time">
                        <option value="0" <%=query.time=='0' ? 'selected' : '' %>>不限時間</option>
                        <option value="1day" <%=query.time=='1day' ? 'selected' : '' %>>過去 1 天</option>
                        <option value="7days" <%=query.time=='7days' ? 'selected' : '' %>>過去 7 天</option>
                        <option value="30days" <%=query.time=='30days' ? 'selected' : '' %>>過去 30 天</option>
                        <option value="1year" <%=query.time=='1year' ? 'selected' : '' %>>過去 1 年</option>
                        <option value="3years" <%=query.time=='3years' ? 'selected' : '' %>>過去 3 年</option>
                        <option value="5years" <%=query.time=='5years' ? 'selected' : '' %>>過去 5 年</option>
                    </select>
                    <select class="adva" name="tag">
                        <option value="">所有標籤</option>
                        <% Tags.forEach(tag=> { %>
                            <option value="<%= tag.TagID %>" <%=tag.TagID==query.tag ? 'selected' : '' %>>
                                <%= tag.Name %>
                            </option>
                            <% }); %>
                    </select>



                </form>
            </div>

            <div class="avatar-box" id="toper" title="<%= username %>">
                <svg viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2">
                    <circle cx="12" cy="7" r="4"></circle>
                    <path d="M5 21c0-4 3-6 7-6s7 2 7 6"></path>
                </svg>
                <div class="avatar-dropdown" style="display: none;">
                    <ul>
                        <li><a id="lip" href="#">
                                <%= username %><span id="ni">您好！</span>
                            </a></li>
                        <li><a href="/personalfile">個人檔案</a></li>
                        <li><a href="#" id="logoutBtn">登出</a></li>
                        <li id="nofi"><a href="#" id="notificationBtn">通知</a>
                            <ul id="noarea">
                                <% if (nofica && nofica.length> 0) { %>
                                    <% nofica.forEach(no=> { %>
                                        <li><a href="/post/<%=no.PostID%>"><%=no.Username%>回應你的貼文<%=no.postname%> <br> 說:<%=no.Content%></a></li>
                                        <% }) %>
                                            <% } %>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="post-area">
            <div id="anno"></div>
            <% if (posts && posts.length> 0) { %>
                <% posts.forEach(post=> { %>
                    <div class="post-card" data-post-id="<%= post.PostID %>">
                        <span class="top">
                            <h3 class="post-title">
                                <%= post.Title %>
                            </h3>
                            <div class="btag">

                                <p class="tag">
                                    <%= post.tag %>
                                </p>
                            </div>
                            <p class="time">
                                <%= new Date(post.CreationDate).toLocaleString() %>
                            </p>
                        </span>
                        <span class="mid">
                            <p class="summary">
                                <%= post.Content ? (post.Content.length> 400 ? post.Content.substring(0, 400) + '...' :
                                    post.Content) : '' %>
                            </p>
                        </span>
                        <span class="bot">
                            <div class="auth">
                                <img class="authimg" src="<%= post.ProfilePicture %>" alt="作者頭像">
                                <p class="puid">
                                    <%= post.Username %>
                                </p>
                            </div>
                            <p id="like"><img class="l1"
                                    style="position: relative;width: 20px;height: 20px;bottom: 3px;"
                                    src="/img/good.png">
                                <%= post.LikeCount %>
                            </p>
                            <p id="comment"><img style="position: relative;width: 25px;height: 25px;bottom: 0px;"
                                    src="/img/comment.png">
                                <%= post.CommentCount %>
                            </p>
                            <p id="watch"><img style="position: relative;width: 25px;height: 25px;bottom: 1px;"
                                    src="/img/eye_icon.png">
                                <%= post.ViewCount %>
                            </p>
                        </span>
                    </div>
                    <% }) %>
                        <% } else { %>
                            <div class="no-post-card">目前尚無貼文</div>

                            <% } %>
                                <div class="avatar-box <%= username===" GUEST"?"hidden":"" %>" id="ToCreatePost"
                                    title="發布貼文">

                                    <svg xmlns="http://www.w3.org/2000/svg" width="800px" height="800px"
                                        viewBox="0 0 24 24" fill="none">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M11.25 12.75V18H12.75V12.75H18V11.25H12.75V6H11.25V11.25H6V12.75H11.25Z"
                                            fill="#080341" />
                                    </svg>
                                </div>
        </div>
    </section>
    <script src="/script/forum.js"></script>
</body>

</html>