<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8" />
    <meta http‑equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/personalfile.css">
    <link rel="icon" href="/img/favicon.png" type="image/x-icon">
    <title>遊戲論壇 ‑ 首頁</title>
</head>

<body>
    <aside class="sidebar">
        <a class="lo" href="/forum">
            <div class="logo">🎮</div>
            <div class="ll"> 遊戲論壇</div>
        </a>
        <ul class="nav-list">
            <li id="li0" onclick="window.location.href = '/forum'"><span class="loo">首頁</span></li>
            <% if (boards && boards.length> 0) { %>
                <% boards.forEach(board=> { %>
                    <li id="li<%= board.BoardID  %>"
                        onclick="window.location.href = '/enter_forum?gameid=<%= board.BoardID  %>'">
                        <span class="loo">
                            <%= board.Name %>
                        </span>
                    </li>
                    <% }) %>
                        <% } %>
        </ul>
    </aside>
    <section class="main">
        <div class="topbar">

            <div class="avatar-box" title="<%= username %>">
                <svg viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2">
                    <circle cx="12" cy="7" r="4"></circle>
                    <path d="M5 21c0-4 3-6 7-6s7 2 7 6"></path>
                </svg>
                <div class="avatar-dropdown" style="display: none;">
                    <ul>
                        <li><a id="lip" href="#">
                                <%= username %><span id="ni">您好！</span>
                            </a></li>
                        <li><a href="/personalfile">個人檔案</a></li>
                        <li><a href="#" id="logoutBtn">登出</a></li>
                        <li id="nofi"><a href="#" id="notificationBtn">通知</a>
                            <ul id="noarea">
                                <% if (nofica && nofica.length> 0) { %>
                                    <% nofica.forEach(no=> { %>
                                        <li><a href="/post/<%=no.PostID%>"><%=no.Username%>回應你的貼文<%=no.postname%> <br> 說:<%=no.Content%></a></li>
                                        <% }) %>
                                            <% } %>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="profile">
            <div class="profile-section">
                <h2>玩家詳細資料</h2>
                <div class="profile-item">
                    <label>帳號：</label>
                    <span id="account"></span>
                </div>
                <div class="profile-item">
                    <label>身分：</label>
                    <span id="role"></span>
                </div>
                <div class="profile-item">
                    <label>ID：</label>
                    <span id="playerIdDetail"></span>
                </div>
                <div class="profile-item">
                    <label>Email：</label>
                    <span id="email"></span>
                </div>
                <div class="profile-item">
                    <label>遊戲等級：</label>
                    <span id="level"></span>
                </div>
                <div class="profile-item">
                    <label>POINT：</label>
                    <span id="point"></span>
                </div>
                <div class="profile-item">
                    <label>最後登入：</label>
                    <span id="lt"></span>
                </div>
                <div class="profile-item">
                    <label>註冊日期：</label>
                    <span id="regDate"></span>
                </div>
                <div class="profile-item profile-item-with-button">
                    <label>簡介：</label>
                    <div class="bio-content">
                        <span id="bio"></span>
                        <button class="edit-bio-btn <%=username==="GUEST"?"hidden":""%>" id="editBioBtn"
                            onclick="editBio()">修改</button>
                    </div>
                </div>
                <div class="profile-item">
                    <img id="pic" src="">
                </div>
            </div>
        </div>
        <div style="display: flex;flex-direction: row;">
            <div class="post-list-section">
                <h2>發表文章列表</h2>
                <ul class="post-list" id="userPosts">
                </ul>
            </div>
            <div class="post-list-section">
                <h2>收藏文章列表</h2>
                <ul class="post-list" id="userFav">
                </ul>

            </div>
        </div>
    </section>
    <script src="/script/personalfile.js"></script>
</body>

</html>